<ion-view view-title="{{data.proyecto}}">

  <ion-content class="content-bitacora">
  	<div class="card">
	  	<div class="row">
	  		<div class="col">
	  			<h5>Cliente</h5>
	  			<p>{{data.cliente}}</p>
	  		</div>
	  		<div class="col">
	  			<h5>Fecha de Creación</h5>
	    		<p>{{data.fecha}}</p>
	  		</div>
	  	</div>
	  	<div class="row">
	  		<div class="col">
	  			<h5>Descripción del Proyecto:</h5>
	    		<!-- <p>{{data.descripción}}</p> -->
	  		</div>
	  	</div>
		<div class="row">
			<div class="col"><h5>Sucursal</h3>{{data.sucursal}}</div>
			<div class="col"><h5>Proyecto</h3>{{data.proyecto}}</div>
		</div>
  	</div>
	<div class="card animated fadeInLeft">
		<!-- Listado de tareas con observaciones del proyecto -->
		<div class="item item-divider">
			Lista de Tareas
		</div>
	    <div class="list">
	    	<div
	    	class="item item-button-right item-text-wrap"
	    	ng-click="row.booleanVal = !row.booleanVal"
	    	ng-repeat="tarea in data.tareas">

			    
		    	<h2>{{tarea.Actividad}}</h2>
				<p ng-show="!row.booleanVal">{{tarea.Observaciones | limitTo:45 }} {{tarea.Observaciones.length > 45 ? '&hellip;':''}}</p>
				<p ng-show="row.booleanVal">{{tarea.Observaciones}}</p>
			   	
			    <button class="button button-calm" ng-click="openTarea(tarea.id_Bitacora)">
			      <i class="icon ion-chatbubbles"></i>
			    </button>
		    </div>
	    </div>
	</div>
  </ion-content>
</ion-view>
