<ion-modal-view class="chat">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Chat</h1>
    <button class="button button-clear button-primary" ng-click="modalChat.hide()">Cancelar</button>
  </ion-header-bar>
  <ion-content class="content-chat">
    <div class="conversacion">
        <div  class="convGlobe" ng-repeat="message in conversacion | orderBy : 'id' : reverse" ng-class=" { instGlobe: message.iduser > '1' , adminGlobe: message.iduser === '1' } ">
            <h2>{{message.usuario}}</h2>
            <h3><small>Enviado: </small>{{message.fecha}}</h3>
            <p>{{message.mensaje}}</p>
        </div>

    <p>Zunfeld Digital SA de CVZunfeld Digital SA de CVZunfeld Digital SA de CVZunfeld Digital SA de CVZunfeld Digital SA de CVZunfeld Digital SA de CV</p>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-positive bar-footer-chat">
        <input width="100%" type="text" placeholder="Mensaje..." ng-model="newChat.chat">
        <button class="button button-small button-calm" ng-click="sendData()">
          Enviar
        </button>
  </div>
</ion-modal-view>