<ion-view view-title="Clientes">
  <ion-content class="content-bitacora">
    <div class="list card client-data">
      <div class="item item-avatar">
        <img src="img/user.jpg">
        <h2>Zunfeld S.A. de C.V.</h2>
        <p>José Ma Castorena #425, Locales 51, 57 y 58 </p>
      </div>
      <div class="item item-image">
        <img src="img/mapa.jpg">
      </div>
      <div class="client-buttons">
        <a><span class="ion-location"></span> Ubicación</a>
        <a><span class="ion-iphone"></span> Celular</a>
        <a><span class="ion-email"></span> Correo</a>
      </div>
      <div class="client-info">
        <h3>Descripción:</h3>
        <p>Ser una empresa líder a nivel nacional en el ámbito de la seguridad, las telecomunicaciones y la automatización inteligente distinguida por la alta calidad de sus productos y servicios, así como reconocida por hacer suyas las necesidades de cada uno de sus clientes brindándoles satisfacción total.</p>
      </div>
    </div>
    <!-- Lista con las tareas ordenadas de las actividades a realizar -->
      <div class="card card-bitacora" ng-repeat="cliente in clientes" ng-show="filteredEntries.length">
        <div class="list">
        <div class="item item-divider">
          Cliente: {{cliente.nombre}}
        </div>
          <a class="item item-icon-right" ng-repeat="actividad in filteredEntries = ( actividades| filter: { 'cliente': cliente.nombre })" href="#/app/actividad/{{actividad.id_Actividad}}">
            <div class="row">
              <div class="col">{{actividad.sucursal}}</div>
              <div class="col">{{actividad.proyecto}}</div>
            </div>
            <i class="icon ion-flag energized"></i>
          </a>
        </div>
      </div>
  </ion-content>
</ion-view>