<ion-view view-title="Inicio">
  <ion-content class="content-dashboard">
    <img class="userProfile" src="img/user.jpg">
    <div class="row">
      <div class="col dashMenu">
        <div>
          <div class="optC"> 
          </div>
        </div>
      </div>
    </div>
    <div class="row dashInfo">
      <div class="col">
        <h2>Bienvenido</h2>
        <p>{{loginStorage}}<p>
        
      </div>
    </div>
    <div class="row">
      <div class="col dashMenu ">
        <div class="optA">
          <span class="ion-ios-people"></span>
          <h3>4</h3>
          <p>Clientes</p>
        </div>
      </div>
      <div class="col dashMenu ">
        <div class="optB">
          <span class="ion-folder"></span>
          <h3>10</h3>
          <p>Proyectos</p>
        </div>
      </div>
      <div class="col dashMenu ">
        <div class="optD">
          <span class="ion-clipboard"></span>
          <h3>40</h3>
          <p>Actividades</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
